from hype.element import Element
from hype.element import SelfClosingElement
from hype.element import Doc
from hype.element import Indent
{% for tag, data in tags.items() %}from hype.element import {{ tag.capitalize() }}
{% endfor %}